.error{
    color: #FF0000;
  }

.login-container {
    display: flex;
    flex-direction: column;
    background-color: #bdbdbd;
    margin: 10% auto auto;
  }

.login-title {
  margin-top: 10px;
}

.form-area label{
  font-weight: bold;
}

.login-button {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: #616161;
  color: white;
}

.forgot-password{
  float: right;
}
.login-bottom input{
  transform: scale(1.5);
  width: 20px;
}

.login-bottom{
  margin-bottom: 15px;
  border-bottom: 1px solid #9e9e9e;
}  

